dl{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
margin: 20px 0;
}

dt{
  width: 30%;
  font-size: 18px;
background-color: #f9f2e6;
padding: 20px;
border: 1px solid #996633;
border-top: none;
}

dd{
  width: 70%;
  padding: 20px;
  border: 1px solid #996633;
border-top: none;
border-left: none;
}
dt:first-child{
  border-top: 1px solid #996633;
}

dd:nth-of-type(1){
  border-top: 1px solid #996633;
}

iframe{
  width: 100%;

}

@media (max-width:960px) {
  dl{
    flex-direction: column;
  }
  dt{
    width: calc( 100% - 40px);
    margin: 0 20px;
    border: none;
  }
  dd{
    width: calc( 100% - 40px);
    margin: 0 20px;
    border: none;
  }
  dt:first-child{
    border-top: none;
  }

  dd:nth-of-type(1){
    border-top: none;
  }
  iframe{
    width: calc( 100% - 40px);
    margin: 0 20px;
  }
}
