

/* ラッパーここから */
.wrapper{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
justify-content: space-between;
  margin-top: 40px;
}

/* メインここから */
main{
  width: 800px;
}

.course{
  margin-bottom: 30px;
}


.course-top-img p:nth-of-type(1){
  border: 3px solid #f0f0f0;
  margin-bottom: 30px;
}
.course-top-img img{
  max-width: 100%;
  padding: 20px;
}
.course-top-img p:nth-of-type(2){
  text-align: center;
  font-size: 18px;
}

.menu{
  background: linear-gradient(45deg,
    #fff 25%,#f5eddf 25%,
    #f5eddf 50%,#fff 50%,#fff 75%,#f5eddf 75%,#f5eddf);
    background-size: 12px 12px;
    margin-bottom: 30px;
    border: 1px solid #996633;
    border-left: 15px solid #996633;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: #996633;
}

.recommended{
  margin-bottom: 50px;
}
.recommended-text{
  display: flex;
  flex-wrap: wrap;
}
.recommended-text p{
  width: 400px;
  padding: 10px;
  font-size: 18px;
  padding-left: 0;
}
.recommended-text p i{
  color: #ff9900;
  padding-right: 10px;
  font-size: 20px;
}
/*
.lesson-img{
  width: 800px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

.lesson-img div{
  width: 49%;
  text-align: center;
  padding: 10px;
}

.lesson-img img{
  max-width: 100%;
    border-radius: 10px;
} */

.lesson-img{
	display: flex;
}

.lesson-img figure{
	margin:10px;
}

.lesson-img img{
	margin-bottom:10px;
	border-radius:10px;
  max-width: 100%;
}

.lesson-img figcaption{
	text-align:center;
}
.voice{
  width: 800px;
}
.voice-img{
  width: 800px;
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

.voice-img div{
  width: 48%;
  text-align: center;
  padding: 5px;
    border: 2px dotted #996633;
}

.voice-img img{
  max-width: 150px;
height: auto;
border-radius: 50%;
}
.voice-img p{
  padding: 5px;
}
.voice-img span{
  font-size: 18px;
  font-weight: bold;
}

@media (max-width:960px) {
main,.wrapper,
.recommended-text p,.lesson-img,
.lesson-img div,.voice,.voice-img,
.voice-img div{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper,
.recommended-text,
.lesson-img,
.voice-img{
  flex-direction: column;
  justify-content: center;
}
.lesson-img figure{
  margin: 16px 0;
}

.voice-img div{
  margin-bottom: 30px;
}
}
